<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://seleniumtest42.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6ca10db3-c3c2-4d61-aa0d-b7865ec37309/resourceGroups/BlobStorageTest/providers/Microsoft.Web/sites/seleniumtest42</ResourceId>
    <IsLinux>true</IsLinux>
    <ContainerResourceId>/subscriptions/6ca10db3-c3c2-4d61-aa0d-b7865ec37309/resourcegroups/BlobStorageTest/providers/Microsoft.ContainerRegistry/registries/BjjContainerRegistry42</ContainerResourceId>
    <ContainerResourceName>BjjContainerRegistry42</ContainerResourceName>
    <Subscription>Bryan Jonker - VSEnterprise</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>bjjcontainerregistry42.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>